.neumorphism {
  width: 768px;
  height: 768px;
  border-radius: 50px;
  background: #ffffff;
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navBar {
  display: flex;
  flex-direction: column;
  width: 320px;
}
.content {
  flex-grow: 1;
}
.card {
  width: 320px;
  height: 128px;
}
.btn {
  padding: 5px;
}
